:root {
    --page-background-color: #f0f0f0;
    --button-background-color: #4CAF50;
    --border-color: #ccc;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--page-background-color);
    padding: 20px;
}

input[type=number] {
    max-width: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

button {
    padding: 10px 20px;
    background-color: var(--button-background-color);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

p {
    font-size: 20px;
}
